{% extends 'AppBundle::layout_m_clear.html.twig' %}

{% block title %}Похоже, вы выбрали неправильный путь | {{ 'project.name'|trans }}{% endblock title %}

{% block content %}
<div style="position:relative">
    <div class="content-404">
        <div class="caption">Похоже, вы выбрали неправильный путь</div>
        <div class="text">
            Не волнуйтесь, время от времени, это случается с каждым из нас.<br/>
            Ссылки выше, помогут вам встать на путь истинный.
        </div>
    </div>
</div>
{% endblock content %}
