{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="node-message">
    {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</div>
{% endblock fos_user_content %}
