{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="node-message">
    {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>
{% endblock fos_user_content %}
